<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary  fixed-top p-0 ">
    <img class="navbar-brand" src="../assets/Logo@1X.png" alt="">
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav text-light ">
        <li class="nav-item active">
          <a class="nav-link" href="#">About </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Service </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Work </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Case Studies </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contacts </a>
        </li>

      </ul>


    </div>


    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <i class='fas fa-mobile-alt  mt-3 nav-link' style='color:white'></i><span
              class=" p-5">+03 86 600 888 33</span>
          </a>


        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"> <button class="contactUs btn btn-light mt-3" type="button">Contact Us</button>
          </a>

        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"> <i class='fas fa-search mt-3  nav-link' style='color:white'></i>
          </a>

        </li>


      </ul>
    </div>
  </nav>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="business card ml-5 pl-5" style="width: fit-content;">
    <div class="card-body">
      <h2 class="card-title">

        <p>Business solutions for</p>
        <p>ambitious, fast growing brands.</p>


      </h2>
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been</p>
      <p class="card-text">the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley</p>

      <a href="#" class="btn btn-primary">Start A Project</a>
    </div>
  </div>
</div>



<br>
<br>
<br>
<br>


<div class="container">
  <div class="d-flex justify-content-around  ">
    <div>
      <img src="../assets/mitchell.png" alt="">
    </div>

    <div>
      <img src="../assets/intercom.png" alt="">

    </div>

    <div>
      <img src="../assets/Sartorius@1X.png" alt="">

    </div>

    <div>
      <img src="../assets/highchart.png" alt="">

    </div>

    <div>
      <img src="../assets/mixpanel.png" alt="">

    </div>
  </div>
</div>

<br>
<br>
<br>
<br>


<div class="container">

  <div class="row">
    <div class="col-5 bg-dark">

    </div>

    <div class="service col-7 ">
      <br>
      <br>


      <h3 class="text-white">OUR SERVICES</h3>
      <h1 class="text-white">Services we can help you with.</h1>

      <br>

      <div class="row">
        <div class="col">
          <span data-target="#illustrations" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;">Illustrations & Iconography</i></span>

          <p></p>


          <div id="illustrations">

            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Illustrations & Iconography</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>


          </div>


          <p></p>
          <span data-target="#motionDesign" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;">Motion Design & Animation</i></span>
          <div id="motionDesign" class="collapse">

            <p></p>



            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Motion Design & Animation</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </div>
            </div>


          </div>


          <p></p>


          <span data-target="#mobileApp" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;"> Mobile App Development</i></span>
          <div id="mobileApp" class="collapse">

            <p></p>


            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Mobile App Development</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>


          </div>




        </div>


        <div class="col">



          <span data-target="#uiux" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;">UI/UX Design </i></span> <br>
          <p></p>


          <div id="uiux" class="collapse">

            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">UI/UX Design </i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>

          </div>
          <p></p>





          <span data-target="#research" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;"> Research & Discovery </i></span> <br>
          <p></p>


          <div id="research" class="collapse">


            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Research & Discovery</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>


          </div>
          <p></p>



          <span data-target="#prototyping" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;"> Prototyping & Interactions</i></span> <br>
          <p></p>


          <div id="prototyping" class="collapse">
            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Prototyping & Interactions</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>
          </div>
          <p></p>







          <span data-target="#competitive" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;"> Competitive Analysis</i></span> <br>
          <p></p>



          <div id="competitive" class="collapse">



            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Competitive Analysis</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>



          </div>
          <p></p>



          <span data-target="#frontEnd" data-toggle="collapse" aria-expanded="false" aria-controls="my-collapse"><i
              class="fas fa-circle	" style="color: white;"> Front-End Development </i></span>
          <p></p>


          <div id="frontEnd" class="collapse">



            <div class="card">
              <span><i class="fas fa-circle	" style="color: white;">Front-End Development</i></span>
              <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specim </div>
            </div>

          </div>

          <p></p>



        </div>
      </div>

      <br>
      <br>
      <br>


      <button type="button" class="btn btn-primary btn-sm btn-block mr-5 ml-5 text-left w-75"> Challenges are just
        opportunities in disguise. Take the challenges
      </button>

      <br>
      <br>

    </div>

    <br>
  </div>

</div>





<div class="row p-4">
  <div class="col-4 ">

    <br>
    <br>
    <br>

    <h3>OUR WORK</h3>
    <h1>See our recent work</h1> <br>

    <span style="font-size:small ;">Lorem Ipsum is simply dummy text of the printing and </span> <br>
    <span style="font-size:small ;">typesetting industry. Lorem Ipsum has been the industry's standard dummy </span>
    <br>
    <span style="font-size:small ;"> text ever since the 1500s, when an unknown printer took a galley</span> <br>


    <br>
    <br>
    <br>


    <a href="#" class="btn btn-primary">See all Project</a>
    <br>
    <br>
    <br>



  </div>

  <div class="col-8 ">

    <div class=" d-flex justify-content-between align-items-center">

      <div style="width: 30%; height: 30%; background-color: #0d2481;">


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



      </div>
      <div style="width: 30%; height: 30%;z-index: 2;background-color:rgb(233, 195, 207);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
      <div style="width: 30%; height: 30%;background-color: #0d2481;">



        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


      </div>

    </div>


  </div>
</div>


<div class="container-fluid ">

  <div class="row">

    <div class="col mr-5 pl-5">
      <div class="bg-dark">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



      </div>

      <br>
      <br>
      <br>

      <div class="ml-5 pl-4">


        <p>Lorem Ipsum is simply dummy text of the printing </p>
        <p>and typesetting industry. Lorem Ipsum has been the industry's </p>
        <p>standard dummy text ever since the 1500s, when an </p>
        <p>unknown printer took a galley</p>




        <span><b>Danielle Fugazzi</b> UI Designer at UHUB</span>
      </div>
    </div>

    <div class="col">
      <h3>ALL SERVICES</h3>

      <h2>Making products meaningful</h2>

      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's</span>
      <span>standard dummy text ever since the 1500s, when an unknown printer took a galley</span> <br>

      <br>

      <div class="row">

        <div class="col">
          <div> <img src="../assets/Layer 512@1X.png" alt=""> </div>
          <br>


          <h5>Product Design</h5>

          <span>There are many variations of passage of Lorem </span>
          <span>Ipsum available, but majority have suffered </span>
          <span>alteration in some form by injected</span>

          <br> <br>


          <div> <img src="../assets/Layer 514@1X.png" alt="">


          </div>

          <br>

          <h5>Custom Development</h5>
          <span>There are many variations of passage of Lorem </span>
          <span>Ipsum available, but majority have suffered </span>
          <span>alteration in some form by injected</span>


        </div>


        <div class="col">
          <div> <img src="../assets/Layer 513@1X.png" alt=""> </div>

          <br>


          <h5>Branding & Marketing</h5>

          <span>There are many variations of passage of Lorem </span>
          <span>Ipsum available, but majority have suffered </span>
          <span>alteration in some form by injected</span>



          <br>
          <br>

          <div> <img src="../assets/Layer 515@1X.png" alt=""> </div>

          <br>
          <h5>Rapid Prototyping</h5>



          <span>There are many variations of passage of Lorem </span>
          <span>Ipsum available, but majority have suffered </span>
          <span>alteration in some form by injected</span>




        </div>
      </div>


    </div>


  </div>

</div>


<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-lg-10">

      <h5>RECENTLY PUBLISHED</h5>

      <p>Interesting articles updated daily</p>

      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's</span>
      <span>standard dummy text ever since the 1500s, when an unknown printer took a galley</span>
    </div>

  </div>



  <br>
  <br>
  <br>
  <br>

</div>

<div class="container-fluid  ">
  <div class="row">
    <div class="col mr-5">
      <p>-----21 May 2019</p>
      <h5> How Wireless Technology is Changing Business </h5>

      <br>

      <div style="background-color: #0d2481;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>




      </div>

      <br>

      <div class="mr-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum. <br>

        <br>

        <span>Read Article </span>

      </div>
    </div>

    <div class="col">

      <p>-----21 May 2019</p>
      <h5> How 5 Ways Technology as Improved Business Today </h5>
      <br>


      <div class="row">
        <div class="col-4" style="background-color: #0d2481;">



        </div>

        <div class="col-8">
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.
          </p>

          <span>Read Article </span>




        </div>




      </div>

      <br>
      <br>

      <p>-----21 May 2019</p>
      <h5> Why do people praise about Agency </h5>

      <br>


      <div class="row">
        <div class="col-4" style="background-color: #0d2481;">


        </div>

        <div class="col-8">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.
          </p>
          <span>Read Article </span>

        </div>
      </div>



    </div>
  </div>
</div>

<br>
<br>
<div class="d-flex justify-content-end mr-4">
  <a href="#" class="btn btn-primary ">More on the blog</a>

</div>

<br>
<br>

<div class="reachout row mx-auto">
  <div class="world col d-flex justify-content-center align-items-center text-white   ">
    <div>

      <br>
      <br>

      <h5>REACH OUT NOW</h5>
      <h4>We're available for 8 hours a day! <br>
        Contact to require a detailed analysis and <br>
        assessment of your plan
      </h4>


      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      </p>
      <p> standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
      <br>
      <br>
    </div>




    <div class="col d-flex justify-content-center align-items-center  ">
      <br>
      <br>

      <div>
        <img src="../assets/call@1X.png" alt=""> <br> <br>
        <h4 class="text-center">990 456 45 87 000</h4>
        <a href="#" class="btn btn-primary">Contact Us</a>



      </div>




    </div>


  </div>
</div>


<div class="footer container-fluid  ">

  <div class="row">


    <div class="col-5">
      <img src="../assets/Logo@1X.png" alt="">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
      <div class="row">

        <div class="col">
          <h5>HEAD OFFICE</h5>
          <p>Onepager. Inc., 3133 Connecticut</p>
          <p>Ave NW, #923, Washington</p>
          <p>DC, 20008, USA</p>

        </div>


        <div class="col">
          <h5>STUDIO OFFICE</h5>
          <p>Mainstreet 1234</p>
          <p>1236 Anytown, Germany(DE)</p>
        </div>
      </div>
    </div>



    <div class="col-7 d-flex justify-content-around pt-5 ">


      <div>
        <h5>Resources</h5>
        <p>Documentation</p>
        <p>Developer Metrics</p>
        <p>Enterprise</p>
        <p>Pricing</p>

      </div>

      <div>
        <h5>Company</h5>
        <p>About</p>
        <p>Customer </p>
        <p>Contact Us</p>
        <p>Support</p>
        <p>Terms</p>
      </div>

      <div>
        <h5>Social</h5>
        <p>Facebook</p>
        <p> Instagram</p>
        <p>Google Plus</p>
        <p>Twitter</p>
      </div>

    </div>

  </div>


  <hr>

  <div class="row">

    <div class="col">


      <p> © 2019 Onepager</p>

    </div>


    <div class="col text-right">

      <span>Terms and Conditions</span> &nbsp; &nbsp; <span>Privacy Policy</span> &nbsp;&nbsp; <span>Design made by
        ThemeXpert</span>




    </div>


  </div>


</div>