


/* 4d5b6c 1e2329 */


.navbar{
    background-color: #0d2481 !important;

}

.card{
    border-top:solid 3px white ;
    background-color: #0d2481 !important;
    color: white;


    
}

.business{
    border-top:solid 3px #0d2481 ;
    background-color:white !important;
    color: black;

}

.btn{
    
    background-color: #0d2481 !important;

}

.service{
    background-color: #0d2481 !important;
    background-image: url("../assets/Shape\ 9@1X.png");



}
.h-75{
    background-color: #0d2481 !important;
    height: 400px;

}

.vedio{
    height: 400px;
    width: 100%;

    background-color: #0d2481 !important;

}

.reachout{

    background-color: #0d2481 !important;
    background-image: url("../assets/Shape\ 9@1X.png");


}

.world{
    background-image: url("../assets/mitech-slider-cybersecurity-global-image@1X.png");

}

.footer{
    background-image: url('../assets/Shape\ 9@1X.png');
    
}

.contactUs{
    background-color:white !important;
}


span{
    cursor: pointer;
}

p{
    cursor: pointer;
}